.button {
  padding: 10px 24px;
  border-radius: 20px;
  transition: .2s;
  display: flex;
  justify-content: center;

  &_main {
    background-color: var(--green);
    &:hover{
      background-color: var(--green-9opacity);
    }
  }
  &_sub {
    box-shadow: 0 0 2px 0 var(--green);
    &:hover{
      box-shadow: 0 0 3px 1px var(--green);
    }
  }
  &_full-width {
    width: 100%;
  }
  &:disabled {
    p {
      color: var(--dark-gray);
    }
    opacity: .6;
    background-color: var(--light-gray);
  }

}