.switch {
  display: flex;
  justify-content: center;
  position: relative;
  column-gap: 20px;
  width: 280px;
  max-width: 95%;
  padding: 10px 15px;
  border-radius: 15px;
  box-shadow: 0 0 4px 1px var(--green);
  background-color: #FFF;
  user-select: none;

  .leftArrow-icon,.rightArrow-icon {
    width: 20px;
    height: 20px;
  }

  &__left, &__right {
    position: absolute;
    display: flex;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    path {
      fill: var(--green);
    }
  }

  &__left {
    left: 10px;
  }

  &__right {
    right: 10px;
  }

}